body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #2d6cdf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1f4fb8;
}

#output {
    max-width: 700px;
    margin: auto;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.card h3 {
    margin-top: 0;
    color: #2d6cdf;
}

/* Risk colors */
.high {
    color: red;
    font-weight: bold;
}

.medium {
    color: orange;
    font-weight: bold;
}

.low {
    color: green;
    font-weight: bold;
}
